name: TBlockMC Release Binary
on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]

permissions:
  contents: write

jobs:
  build_macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install Fyne tool
        run: go install fyne.io/tools/cmd/fyne@latest
      
      - name: Package
        run: >
          fyne package -os darwin --icon Icon.png --release &&
          ls
      
      - name: Create zip
        run: zip --symlinks -r TBlockMC.zip TBlockMC.app/
      
      - name: Upload zip archive
        uses: actions/upload-artifact@v4
        with:
          name: TBlockMC-mac-arm64.zip
          path: TBlockMC.zip

  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        path-type: inherit
        update: true
        install: >-
          make
          wget
          zip
          p7zip
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Install Dependencies
      run: >
        pacman -Syu &&
        pacman --noconfirm -S mingw-w64-x86_64-toolchain mingw-w64-x86_64-mpv

    - name: Install Fyne tool
      run: go install fyne.io/tools/cmd/fyne@latest

    - name: Package
      run: >
         fyne package -os windows --icon Icon.png --executable tblockmc.exe --release &&
         ls

    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: TBlockMC-windows-x64.exe
        path: tblockmc.exe